.l-benefits {
    padding-top: 100px;
    padding-bottom: 60px;
    @include bp(md) {
        padding-bottom: 200px;
    }
}

.benefits {
    @include bp(md) {
        padding: 10px 50px;
    }
    
    &-wrapper {
        text-align: center;
    }

    &-cover {
        width: 75px;
        height: 75px; 
        margin: 0 auto 25px;

        .image {
            display: inline-block;
            width:   100%;
        }
    }

    &-title {
        margin: 10px auto 20px;
        font-size: 20px;
        font-weight: bold;
        color: #343f49;
    }

    &-desc {
        font-size: 16px;
        color: $dark;
    }
}