.l-machines {
    margin-bottom: 100px;
}

.machineCard {

    width: 95%;
    padding: 30px;
    margin: 0 auto 50px;
    border-radius: 8px;
    box-shadow:  0 2px 5px 0  rgba(#000, .08);
    background-color: #fff;

    //  =======================  status 
    &-pallete1 .machineCard-details {
        border-color: $pallete1;
    }

    &-info .machineCard-details {
        border-color: $info;
    }

    &-warning .machineCard-details {
        border-color: $warning;
    }

    &-tertiary .machineCard-details {
        border-color: $tertiary;
    }

    &-success .machineCard-details {
        border-color: $success;
    }

    // ===============
    &-cover {
        text-align: center;

        .image {
            height: 200px;
            padding-#{$right}: 20px;
        }
    }

    &-details {

        color: $dark;
        text-align: center;
        padding-#{$left}: 22px;
        border-top: 7px solid;
        @include bp(sm) {
            text-align: $left;
            border-top:0;
            border-#{$left}: 7px solid;
        }

        img {
            width: 30px;
            height: 30px;
            display: block;
            margin: 10px auto 3px;
        }
    }

    &-icon {
        font-size: 12px;
        margin-bottom: 8px;
        text-align: center;
    }

    &-title {
        font-size: 20px;
        margin-top: 10px;
        margin-bottom: 20px;
    }

    &-desc {
        margin-bottom: 24px;
        font-size: 16px;
    }


}