.l-features {
    padding-top: 100px;
    padding-bottom: 200px;

    .desc {
        font-size: 18px;
        color: $dark;
        margin-bottom: 75px;
    }

}

.features {
    padding: 20px;
    margin-bottom: 50px;
    
    border-radius: 20px;
    position: relative;
    overflow: hidden;
    box-shadow: 6px 8px 0px 0px rgba(#000, .24);

    @include bp(sm) {
        min-height: 330px;
    }
    @include bp(md) {
        min-height: 240px;
    }
    // ==============  status
    &.features-left {
        @include bp(md) {
            margin-#{$right}: 40px;
        }

        .features {
            &-cover {
                #{$left}: -16px;
            }

            &-content {
                @include bp(md) {
                    margin-#{$left}: 45px;
                    text-align: #{$left};
                }

            }
        }

    }

    &.features-right {
        @include bp(md) {
            margin-#{$left}: 40px;
        }

        .features {
            &-cover {
                #{$right}: -16px;
            }

            &-content {

                @include bp(md) {
                    margin-#{$right}: 45px;
                    text-align: #{$left};
                }
            }
        }
    }


    // ======================


    &-wrapper {

        @include bp(md) {
            padding: 30px;
        }
    }

    &-title {
        color: #fff;
        font-size: 20px;
        font-weight: 700;
        margin-bottom: 10px;
        margin-#{$left}: 10px;
    }

    &-desc {
        font-size: 14px;
        color: $dark;
    }

    &-cover {
        max-width: 22%;
        position: absolute;
        bottom: -18px;
        opacity: 0.8;
    }


    &-content {
        position: relative;
        padding: 10px 30px;
        @include bp(sm) {
            
            padding: 10px;
        }
        @include bp(md) {
            padding: 10px 30px;
        }
    }


}