.l-why {
    padding-top: 100px;
    padding-bottom: 200px;

}

.why {
    &-desc {
        font-size: 16px;
        color: $dark;
        text-align: center;
    }
    &-wrapper {
        text-align: center;
        padding-top: 50px;
    }
    &-cover {
        width: 40px;
        height: 40px;
    }
    &-title {
        padding: 20px 0 15px;
        font-size: 18px;
        color: $dark;
        font-weight: bold;
    }
    &-brief {
        font-size: 16px;
        color: $dark;
    }
}