<section class="l-about">
    
    <div class="container">
        <div class="about-wrapper">
            <div class="row">

                <div class="col-12 col-md-8 offset-md-1">
                    <div class="about">
                        <span class="about-minTitle">We at danyah, are a</span>
                        <h5 class="about-title text-success">Team of Passionate and Ambitious</h5>
                        <div class="about-details">
                            <img src="assets/images/about/icon1.svg" alt="" class="about-cover"/>
                            <p class="about-desc">Individuals who believe that the market deserves more than what is currently offered, and we decided that danyah should be a part of serving our communities by introducing inspiring solution that contributes to the convenience of our clients!</p>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-md-8 offset-md-3">
                    <div class="about">
                        <span class="about-minTitle">Ensure</span>
                        <h5 class="about-title text-tertiary">Maximum Levels of Satisfaction</h5>
                        <div class="about-details">
                            <img src="assets/images/about/icon2.svg" alt="" class="about-cover"/>
                            <p class="about-desc">When we considered entering the vending machine business, we wanted to ensure that our clients will be able to gain the maximum levels of satisfaction, and we wanted to make sure that we cover what the market is missing.</p>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-md-8 offset-md-2">
                    <div class="about">
                        <span class="about-minTitle">Supply</span>
                        <h5 class="about-title text-warning">High Quality</h5>
                        <div class="about-details">
                            <img src="assets/images/about/icon3.svg" alt="" class="about-cover"/>
                            <p class="about-desc">We want to supply the market with high quality, state of the art vending machines that anybody can benefit from!</p>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-md-8 offset-md-4">
                    <div class="about">
                        <span class="about-minTitle">Offer</span>
                        <h5 class="about-title text-info">Latest technology</h5>
                        <div class="about-details">
                            <img src="assets/images/about/icon4.svg" alt="" class="about-cover"/>
                            <p class="about-desc">Not only have we ensured the ease of operation through our various types of vending machines but also, we offer the latest technology vending features to insure the satisfaction of our clients.</p>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-md-6">
                    <div class="cards">
                        <img class="cards-cover" src="assets/images/about/vision.svg" alt="">
                        <h4 class="cards-title">Vision</h4>
                        <p class="cards-desc">To become one of the region's leading suppliers of high tech, top of the line, sophisticated solution that contributes to the convenience of the community</p>
                    </div>
                </div>

                <div class="col-12 col-md-6">
                    <div class="cards">
                        <img class="cards-cover" src="assets/images/about/mission.svg" alt="">
                        <h4 class="cards-title">Mission</h4>
                        <p class="cards-desc">To surpass the current market offering through our care, passion and inspiring solutions</p>
                    </div>
                </div>

            </div>
        </div>
    </div>

</section>