{% extends "layouts/layout.twig" %}
{% block page %}
<div class="container mb-5">
	<!-- Content  - ## START ##-->

	<h2 class="title">
		كبسولات القهوة
	</h2>

	<!-- ====================== ## Seprator ## ================-->
	<h2 class="title is-primary">
		كبسولات القهوة
	</h2>

	<!-- ====================== ## Seprator ## ================-->
	<h2 class="title is-secondary">
		كبسولات القهوة
	</h2>
	<!-- ====================== ## Seprator ## ================-->
	<h2 class="title is-warning">
		كبسولات القهوة
	</h2>
	<!-- ====================== ## Seprator ## ================-->
	<h2 class="title is-info">
		كبسولات القهوة
	</h2>
	<p class="desc">
		نقدم مجموعة واسعة من كبسولات القهوة التي تناسب آلات بيع الكبسولات كما أنها متوافقة مع
		آلات نسبرسو و لافازا:
	</p>

	<!-- Content  - ## END ##-->
</div>

{% endblock %}