{% macro base(title,desc) %}
<section class="l-top-pattern">
    <div class="article">
        <h1 class="article-title">
      {{title}}
        </h1>
        <p class="article-desc">
       {{desc}}
        </p>
    </div>
</section>
{% endmacro %}