{% macro base(title,desc) %}
<section class="l-article">
    <div class="article wow  animate__bounce wow">
        <h1 class="article-title ">
      {{title}}
        </h1>
        <p class="article-desc">
       {{desc}}
        </p>
    </div>
</section>
{% endmacro %}