.l-contact {
    
    padding: 70px 20px 100px;

    @include default {
        background: image("layouts/top-pattern.png") #{$right} -50px / contain no-repeat;
    }
    @include reverse {
        background: image("layouts/top-pattern-rtl.png") #{$right} -50px / contain no-repeat;
    }
    @include bp(sm) {
        padding: 175px 50px 100px;
    }

    @include bp(md) {
        padding: 240px 100px;
    }

    @include bp(lg) {
        padding: 300px 150px;
    }
}

.contactus {

    &-desc {
        font-size: 20px;
        line-height: 30px;
        margin-bottom: 50px;
        color: $dark;
    }

    &-body {
        border-left: 5px solid $info;
        padding: 30px 50px 200px;

    }

}

.l-location {
    position: relative;
    margin-bottom: -50px;
}

.location {

    &-desc {
        text-align: center;
        font-size: 20px;
        line-height: 30px;
        margin-bottom: 100px;
        color: $dark;
    }

    &-mapWrapper {
        position: relative;

        &::after {
            position: absolute;
            content: "";
            display: block;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            background-color: rgba($color: #000000, $alpha: .3);
        }

        .map {
            width: 100%;
            height: 600px;


        }
    }
}