<div id="map">
            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d453.12105722724397!2d46.695374!3d24.693611!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x30615b60788d47b4!2sDanyah!5e0!3m2!1sen!2sus!4v1573309504054!5m2!1sen!2sus" width="400" height="500" frameborder="0" style="border:0;width:100%;height:100%;" allowfullscreen="true"></iframe>
          </div>