$header-bg: #343F49;

.is-sticky_header {
    .header {
        box-shadow: 0 2px 6px 3px rgba(#000000, .3);

        @include breakpoint(md) {
            padding-top: 8px;
            padding-bottom: 8px;
        }

        &-logo {
            .image {
                height: 50px;
            }

        }
    }

}

.header {
    position: fixed;
    z-index: 10;
    width: 100%;
    // height: 130px;
    background-color: $header-bg;
    padding: 25px 10px;


    @include breakpoint(xs) {}

    @include breakpoint(sm) {
        padding: 25px;
    }

    @include breakpoint(md) {
        padding: 30px 0;
    }

    @include breakpoint(lg) {
        padding: 30px 50px;
    }

    &-logo {
        padding: 0;

        @include breakpoint(isCommon) {
            position: absolute;
            top: -5px;
            right: 0;
        }

        .image {
            @include trans();
            height: 50px;
            display: inline-block;

            @include breakpoint(md) {
                height: 70px;
            }
        }

    }

    .navbar {
        padding: 0;
    }

    &-toggler {
        border: 1px solid #fff;
        padding: 5px;
        @extend .btn;

        .image {
            width: 25px;
        }
    }

    .navbar-nav {
        .nav-item {


            margin-#{$left}: 20px;

            @include breakpoint(lg) {
                margin-#{$left}: 35px;
            }

            .nav-link {
                text-transform: capitalize;
                font-weight: 600;
                color: #fff;
                padding: 10px 0;
                font-size: 16px;

                @include breakpoint(md) {
                    font-size: 13px;
                }

                @include breakpoint(lg) {
                    font-size: 16px;
                }

                &:before {
                    background: $success;
                }
            }

            &.active {
                .nav-link:not(.btn) {
                    color: $success;
                    font-size: 18px;
                    @include breakpoint(md) {
                        font-size: 14px;
                    }
    
                    @include breakpoint(lg) {
                        font-size: 18px;
                    }

                    &:before {
                        content: none;
                    }
                }

                .btn-outline-info {
                    background-color: $info;
                }
            }
        }

        .dropdown-menu {
            padding: 0;
            border: 0;
            box-shadow: 0 2px 7px 1px rgba(#000000, .15);
            border-radius: 0;

            .dropdown-item {
                padding: 10px 25px;
                color: #999999;
                @include trans();

                &:hover,
                &:focus {
                    color: $success;
                }
            }
        }

    }

}

// .header-menu.show {
//     position: absolute;
//     top: 50px;
//     background-color: darken($color: $header-bg, $amount: 10%);
// }