.header {
    position: relative;
    width: 100%; 
    padding: 20px 0;
    background-color: #343F49;
    // padding-#{$left}: 50px;
    // float: #{$left};
    border-#{$right}: 50px solid #f00;
 
}
 