.license {
    &-header {
        padding: 35px;
    }

    &-title {
        position: relative;
        color: #FFFFFF;
        font-size: 28px;
        font-weight: 500;
        line-height: 33px;
        padding: 8px 80px;
        display: inline-block;
        background-color: $primary;
        margin-bottom: 25px;

        &::before {
            content: "";
            display: block;
            height: 8px;
            width: 110px;
            background-color: #F9C198;
            position: absolute;
            top: calc(100% - 4px);
            right: -15px;
            z-index: -1;
        }
    }

    &-subTitle {
        color: #8FB8B3;
        font-size: 22px;
        font-weight: 500;
        line-height: 27px;
        margin-bottom: 20px;
    }

    &-separator {
        height: 3px;
        width: 41px;
        background-color: $secondary;
        display: block;
        margin-bottom: 10px;
    }
}

.table-license {

    th,
    td {
        padding: 5px .75rem;
        border-top: 0;
        font-size: 14px;
    }

    th {
        font-weight: 500;
    }

    td {
        color: #484B4C;
    }
}