.speech {
    padding-top: 60px;
    padding-bottom: 60px;

    &-details {
        padding:  20px;
        
        @include bp(sm) {
            
            padding: 30px 30px 15px;
            max-width: calc(720px * .6);
        }

        @include bp(md) {
            padding: 100px 40px 20px;
            max-width: calc(960px * .6);
        }

        @include bp(lg) {
            max-width: calc(1140px * .6);

        }

    }

    &-desc {
        margin-bottom: 15px;
        font-weight: 500;
    }

    &-label {

        color: #DADAE3;
    }

    &-cover {
        text-align: $right;
    }

    &-princeImage {
        .image {
            max-width: 100%;
        }
    }


}