
<section class="l-afterSales">
    <div class="container">
        <h2 class="title is-primary">
            After Sales Services
        </h2>
        <p class="desc">Our relation with our clients is a long term partnership and below is list of our After Sales Services:</p>

        <div class="afterSales"> 
            <!-- timeline item 1 -->
            <div class="row no-gutters">
                <div class="col-sm"> <!--spacer--> </div>
                <!-- timeline item 1 center dot -->
                <div class="col-sm-1 text-center flex-column d-none d-sm-flex">
                <div class="row h-50">
                    <div class="col">&nbsp;</div>
                    <div class="col">&nbsp;</div>
                </div>
                <h5 class="m-2">
                    <span class="afterSales-badge badge">&nbsp;</span>
                </h5>
                <div class="row h-50">
                    <div class="col afterSales-bageBorder">&nbsp;</div>
                    <div class="col">&nbsp;</div>
                </div>
                </div>
                <!-- timeline item 1 event content -->
                <div class="col-sm py-2">
                <div class="card">
                    <div class="card-body">
                    <h4 class="card-title text-tertiary">Danyah's Warranty</h4>
                    <p class="card-text">We provide a 2 years warranty on all our Vending Machines (doesn’t include consumables)</p>
                    </div>
                </div>
                </div>
            </div>
            <!--/row-->
            <!-- timeline item 2 -->
            <div class="row no-gutters">
                <div class="col-sm py-2">
                <div class="card">
                    <div class="card-body text-right">
                    <h4 class="card-title  text-tertiary">Staff Training</h4>
                    <p class="card-text">New to the concept? No Problem! We will train your employees on operating the Vending Machine</p>
                    </div>
                </div>
                </div>
                <div class="col-sm-1 text-center flex-column d-none d-sm-flex">
                <div class="row h-50">
                    <div class="col afterSales-bageBorder">&nbsp;</div>
                    <div class="col">&nbsp;</div>
                </div>
                <h5 class="m-2">
                    <span class="afterSales-badge badge">&nbsp;</span>
                </h5>
                <div class="row h-50">
                    <div class="col afterSales-bageBorder">&nbsp;</div>
                    <div class="col">&nbsp;</div>
                </div>
                </div>
                <div class="col-sm"> <!--spacer--> </div>
            </div>
            <!--/row-->
            <!-- timeline item 3 -->
            <div class="row no-gutters">
                <div class="col-sm"> <!--spacer--> </div>
                <div class="col-sm-1 text-center flex-column d-none d-sm-flex">
                <div class="row h-50">
                    <div class="col afterSales-bageBorder">&nbsp;</div>
                    <div class="col">&nbsp;</div>
                </div>
                <h5 class="m-2">
                    <span class="afterSales-badge badge">&nbsp;</span>
                </h5>
                <div class="row h-50">
                    <div class="col afterSales-bageBorder">&nbsp;</div>
                    <div class="col">&nbsp;</div>
                </div>
                </div>
                <div class="col-sm py-2">
                <div class="card">
                    <div class="card-body">
                    <h4 class="card-title text-tertiary">Installation</h4>
                    <p>We will make sure that the Vending Machine is installed properly and that you are all set!</p>
                    </div>
                </div>
                </div>
            </div>
            <!--/row-->
            
            <!-- timeline item 4 -->
            <div class="row no-gutters">
                <div class="col-sm py-2">
                <div class="card">
                    <div class="card-body text-right">
                    <h4 class="card-title text-tertiary">Delivery to your location</h4>
                    <p>Pickup is on us! We will deliver the Vending Machine to your location.</p>
                    </div>
                </div>
                </div>
                <div class="col-sm-1 text-center flex-column d-none d-sm-flex">
                <div class="row h-50">
                    <div class="col afterSales-bageBorder">&nbsp;</div>
                    <div class="col">&nbsp;</div>
                </div>
                <h5 class="m-2">
                    <span class="afterSales-badge badge badge-pill  border">&nbsp;</span>
                </h5>
                <div class="row h-50">
                    <div class="col">&nbsp;</div>
                    <div class="col">&nbsp;</div>
                </div>
                </div>
                <div class="col-sm"> <!--spacer--> </div>
            </div>
            <!--/row-->

            <!-- timeline item 5 -->
            <div class="row no-gutters">
                <div class="col-sm"> <!--spacer--> </div>
                <div class="col-sm-1 text-center flex-column d-none d-sm-flex">
                <div class="row h-50">
                    <div class="col afterSales-bageBorder">&nbsp;</div>
                    <div class="col">&nbsp;</div>
                </div>
                <h5 class="m-2">
                    <span class="afterSales-badge badge">&nbsp;</span>
                </h5>
                <div class="row h-50">
                    <div class="col afterSales-bageBorder">&nbsp;</div>
                    <div class="col">&nbsp;</div>
                </div>
                </div>
                <div class="col-sm py-2">
                <div class="card">
                    <div class="card-body">
                    <h4 class="card-title text-tertiary">Maintenance*</h4>
                    <p>We will make sure that the Vending Machine is installed properly and that you are all set!</p>
                    </div>
                </div>
                </div>
            </div>
            <!--/row-->

            <!-- timeline item 6 -->
            <div class="row no-gutters">
                <div class="col-sm py-2">
                <div class="card">
                    <div class="card-body text-right">
                    <h4 class="card-title text-tertiary">Machine Product Supply*</h4>
                    <p>We can provide you with the top quality supply to fill your vending Machine.</p>
                    </div>
                </div>
                </div>
                <div class="col-sm-1 text-center flex-column d-none d-sm-flex">
                <div class="row h-50">
                    <div class="col afterSales-bageBorder">&nbsp;</div>
                    <div class="col">&nbsp;</div>
                </div>
                <h5 class="m-2">
                    <span class="afterSales-badge badge">&nbsp;</span>
                </h5>
                <div class="row h-50">
                    <div class="col">&nbsp;</div>
                    <div class="col">&nbsp;</div>
                </div>
                </div>
                <div class="col-sm"> <!--spacer--> </div>
            </div>
            <!--/row-->

            <!-- timeline item 3 -->
            <div class="row no-gutters">
                <div class="col-sm"> <!--spacer--> </div>
                <div class="col-sm-1 text-center flex-column d-none d-sm-flex">
                <div class="row h-50">
                    <div class="col afterSales-bageBorder">&nbsp;</div>
                    <div class="col">&nbsp;</div>
                </div>
                <h5 class="m-2">
                    <span class="afterSales-badge badge">&nbsp;</span>
                </h5>
                <div class="row h-50">
                    <div class="col afterSales-bageBorder">&nbsp;</div>
                    <div class="col">&nbsp;</div>
                </div>
                </div>
                <div class="col-sm py-2">
                <div class="card">
                    <div class="card-body">
                    <h4 class="card-title text-tertiary">Spare Parts*</h4>
                    <p>Need to change something? We got what you need!</p>
                    </div>
                </div>
                </div>
            </div>
            <!--/row-->
              
        </div>

    </div>
</section>