
<section class="l-features is-vending" id="Features">
    <div class="container">
        <h2 class="title is-seccess">
            Additional Features
        </h2>
        <p class="desc">The following Additional Features can be added to our vending machines based on the needs of our valued partners:</p>

        <div class="features-wrapper">
            <div class="row">
                <!-- One -->
                <div class="col-12 col-md-6">
                    <div class="features bg-warning features-left wow animate__lightSpeedInLeft">
                        <img src="assets/images/vending/features/Elevator.svg" alt="" class="features-cover">
                        <div class="features-content">
                            <h4 class="features-title">Elevator Delivery Unit</h4>
                            <p class="features-desc">Having Sensitive Products, No Problem! Instead of the drop down mechanism, with our elevator delivery unit you products will be delivered to the customer in a very safe and carful manner.</p>
                        </div>
                    </div>
                </div>  

                <!-- Tow -->
                <div class="col-12 col-md-6">
                    <div class="features bg-tertiary features-right wow animate__lightSpeedInRight">
                        <img src="/assets/images/vending/features/prepaid.svg" alt="" class="features-cover">
                        <div class="features-content ">
                            <h4 class="features-title">Prepaid Tokens/Cards System</h4>
                            <p class="features-desc">Want to have a practical payment model for your employees? We got the solution for you, with our rechargeable Tokens/Cards system your employees can buy whatever they want from the machine and pay later at the convince, everything will be recorded and monitored through our sophisticated systems.</p>
                        </div>
                    </div>
                </div>  

                <!-- Three -->
                <div class="col-12 col-md-6">
                    <div class="features bg-success features-left wow animate__lightSpeedInLeft">
                        <img src="/assets/images/vending/features/CoinChange.svg" alt="" class="features-cover">
                        <div class="features-content">
                            <h4 class="features-title">Coin Change Mechanism Device</h4>
                            <p class="features-desc">Unlike our competition, we can actually give you your change back, so there is no need to worry about inserting the exact amount in the vending machine, we got you covered!</p>
                        </div>
                    </div>
                </div>  

                <!-- Four -->
                <div class="col-12 col-md-6">
                    <div class="features bg-info features-right wow animate__lightSpeedInRight">
                        <img src="/assets/images/vending/features/Debit_Credit.svg" alt="" class="features-cover">
                        <div class="features-content">
                            <h4 class="features-title">Debit/Credit Cards Payment Device</h4>
                            <p class="features-desc">No Cash? No problem! We can even offer you the option to include Mada payments through debit/ credit card points of sale.</p>
                        </div>
                    </div>
                </div>  

                <!-- Five -->
                <div class="col-12 col-md-6">
                    <div class="features bg-secondary features-left wow animate__lightSpeedInLeft">
                        <img src="/assets/images/vending/features/InventoryMonitoring.svg" alt="" class="features-cover">
                        <div class="features-content">
                            <h4 class="features-title">Inventory Monitoring System</h4>
                            <p class="features-desc">We will provide you with a state of the art supply/inventory tracking system in order to know what exactly have been sold from your vending machine.</p>
                        </div>
                    </div>
                </div>  

                <!-- Six -->
                <div class="col-12 col-md-6">
                    <div class="features bg-dark features-right wow animate__lightSpeedInRight">
                        <img src="/assets/images/vending/features/ExternlDesign.svg" alt="" class="features-cover">
                        <div class="features-content">
                            <h4 class="features-title">External Design</h4>
                            <p class="features-desc text-light">Last but not least, we will let you customize the design of your vending machine at your convenience!</p>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</section>