
<section class="l-types">
    <div class="container">
        <h2 class="title is-info">
           Vending Machine Types
        </h2>
        <p class="desc">When we considered entering the vending machine business, we wanted to ensure that our valued partners will be able to gain the maximum levels of satisfaction, whether through the sales process, or even the after-sale services. We wanted to make sure that we cover what the competition is missing. Our Types of Vending Machines are categorized under the following:</p>
        <div class="types-wrapper">    

            <ul class="nav nav-tabs nav-justified">
                <!-- Frist Tab -->
                <li class="nav-item">
                    <a class="nav-link active" href="#frist-tab" data-toggle="tab">Edible Products Machines</a>
                </li>
                <!-- Second Tab -->
                <li class="nav-item active">
                    <a class="nav-link" href="#second-tab" data-toggle="tab">NonEdible Products Machines</a>
                </li>
            </ul>
            <div class="tab-content">
                <!-- Frist Tab Content -->
                <div class="tab-pane fade show active" id="frist-tab" >
                    <p class="text-left desc">We believe that our valued partners deserve all the latest and greatest that vending machine industry has to offer in terms of edible products. Therefore, here are a few examples of what our valued partners can get from Danyah:</p>
                    <div class="row">

                        <div class="col-12 col-md-6">
                                <div class="types">
                                <img src="assets/images/vending/types/HotSnacks.svg" alt="" class="types-cover">
                                <h4 class="types-title">Hot Snacks</h4>
                                <p class="types-desc">Our state of the art vending machines could offer heating solutions to make sure that you get your snack hot and fresh!</p>
                            </div>
                        </div>

                        <div class="col-12 col-md-6">
                                <div class="types">
                                <img src="assets/images/vending/types/ColdDrinks.svg" alt="" class="types-cover">
                                <h4 class="types-title">Hot Snacks</h4>
                                <p class="types-desc">Our state of the art vending machines could offer heating solutions to make sure that you get your snack hot and fresh!</p>
                            </div>
                        </div>

                        <div class="col-12 col-md-6">
                                <div class="types">
                                <img src="assets/images/vending/types/HotDrinks.svg" alt="" class="types-cover">
                                <h4 class="types-title">Hot Snacks</h4>
                                <p class="types-desc">Our state of the art vending machines could offer heating solutions to make sure that you get your snack hot and fresh!</p>
                            </div>
                        </div>
                        <div class="col-12 col-md-6">
                                <div class="types">
                                <img src="assets/images/vending/types/IceCream.svg" alt="" class="types-cover">
                                <h4 class="types-title">Hot Snacks</h4>
                                <p class="types-desc">Our state of the art vending machines could offer heating solutions to make sure that you get your snack hot and fresh!</p>
                            </div>
                        </div>
                
                    </div>
                </div>

                <!-- Second Tab Contant -->
                <div class="tab-pane fade types" id="second-tab">
                    
                    <p class="text-left desc">Here is where we really believe that we are ahead of our competition and what the market is currently offering. Our sky is the limit when it comes to non-edible solutions. Other than offering our partners a list of non-edible solutions, we give our valuable partners the chance to customize the vending machine items to suit their needs and to help them leverage Danyah's special made vending machines to the highest value possible*.</p>
                    <p class="desc text-center">Here are a few examples of what your future vending machine can include: </p>
                    <div class="row">

                        <div class="col-12 col-md-4">
                                <div class="types">
                                <img src="assets/images/vending/types/PharmaceuticalProducts.svg" alt="" class="types-cover">
                                <h4 class="types-title">Pharmaceutical Products</h4>
                                <p class="types-desc">Your mini pharmacy at your convenience, 24/7!</p>
                            </div>
                        </div>

                        <div class="col-12 col-md-4">
                                <div class="types">
                                <img src="assets/images/vending/types/TelecomRechargeCards.svg" alt="" class="types-cover">
                                <h4 class="types-title">Telecom Recharge Cards</h4>
                                <p class="types-desc">The classic taste of the very best Arabica coffee, capsule-blended for a supreme espresso experience</p>
                            </div>
                        </div>

                        <div class="col-12 col-md-4">
                                <div class="types">
                                <img src="assets/images/vending/types/Stationary-Accessories.svg" alt="" class="types-cover">
                                <h4 class="types-title">Stationary and Accessories</h4>
                                <p class="types-desc">The blend is for those who want to enjoy a superb cup of coffee without the effects of caffeine</p>
                            </div>
                        </div>
                
                    </div>

                </div>
            </div>



        </div>
    </div>
</section>