<section class="l-why">
    <div class="container">
        <h2 class="title is-warning">
           Why Vending Machines
        </h2>
        <p class="desc">Vending machines has so many benefits that would cater to the needs of its consumers </p>
        <div class="why-wrapper">    
            <div class="row">

                <!-- Quick -->
                <div class="col-12 col-md-4">
                    <div class="why">
                        <img src="assets/images/vending/why/Quick.svg" alt="" class="">
                        <h4 class="why-title">Quick and Convenient</h4>
                        <p class="why-desc">It fulfils your needs whenever you want to have a quick bite or a coffee break</p>
                    </div>
                </div>

                <!-- Available 24/7 -->
                <div class="col-12 col-md-4">
                    <div class="why">
                        <img src="assets/images/vending/why/24_7.svg" alt="" class="why-cover">
                        <h4 class="why-title">Available 24/_7</h4>
                        <p class="why-desc">There is no need to worry about the long working hours</p>
                    </div>
                </div>

                <!-- Cost -->
                <div class="col-12 col-md-4">
                    <div class="why">
                        <img src="assets/images/vending/why/Cost.svg" alt="" class="why-cover">
                        <h4 class="why-title">Reduces Cost</h4>
                        <p class="why-desc">Reduces your labor cost, which is always good for the business!</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>