<section class="l-spare">
    <div class="container">
        <h2 class="title is-warning">
            Spare Parts
        </h2>
        <div class="spare-wrapper">
            <div class="row">

                <!-- Payments Options -->
                <div class="col-12">
                    <div class="spare first">
                        <img src="assets/images/spare/Payment-options.svg" alt="" class="spare-cover"/>
                        <h4 class="spare-title">Payments Options</h4>
                        <p class="spare-desc">Don't you worry about any type of payments! We got your back! Coins? Cash? Credit? We provide them all!</p>
                    </div>
                </div>

                <!-- Water Boiler -->
                <div class="col-12 col-md-6">
                    <div class="spare">
                        <img src="assets/images/spare/water-boiler.svg" alt="" class="spare-cover"/>
                        <h4 class="spare-title">Water Boiler</h4>
                        <p class="spare-desc">Coffee beverages shoulf always be served hot! We provide top of the rack boiler parts for your needs.</p>
                    </div>
                </div>

                <!-- Water Pump -->
                <div class="col-12 col-md-6">
                    <div class="spare">
                        <img src="assets/images/spare/water-pump.svg" alt="" class="spare-cover"/>
                        <h4 class="spare-title">Water Pump</h4>
                        <p class="spare-desc">Can you make a cup of coffee without water? We don't think so. Our pumps will always be there for your coffee.</p>
                    </div>
                </div>

                <!-- Spiral Mechanism -->
                <div class="col-12 col-md-6">
                    <div class="spare">
                        <img src="assets/images/spare/Spiral-Mechanism.svg" alt="" class="spare-cover"/>
                        <h4 class="spare-title">Spiral Mechanism</h4>
                        <p class="spare-desc">Don't you just hate it when the snack gets stuck because the spiral won't move. Well we don't like it as well, so we will provide you the best spirals for you hunger needs!</p>
                    </div>
                </div>

                <!-- Bill Validator -->
                <div class="col-12 col-md-6">
                    <div class="spare">
                        <img src="assets/images/spare/bill-validator.svg" alt="" class="spare-cover"/>
                        <h4 class="spare-title">Bill Validator</h4>
                        <p class="spare-desc">Can you make a cup of coffee without water? We don't think so. Our pumps will always be there for We need to validate the amount of payment with each order. Thus, our bill validator is the best in the market.</p>
                    </div>
                </div>

                <!-- Warranty -->
                <div class="col-12 col-md-6">
                    <div class="spare">
                        <img src="assets/images/spare/warranty.svg" alt="" class="spare-cover"/>
                        <h4 class="spare-title">Warranty</h4>
                        <p class="spare-desc">Don't you worry, we got you coverd for 2 years!</p>
                    </div>
                </div>

                <!-- Maintenances -->
                <div class="col-12 col-md-6">
                    <div class="spare">
                        <img src="assets/images/spare/maintenances.svg" alt="" class="spare-cover"/>
                        <h4 class="spare-title">Maintenances</h4>
                        <p class="spare-desc">At danyah we are so proud to serve the best maintenance and support for our valued customers. Throughout the warrantee coverage or long after.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>