<section class="l-spare">
    <div class="container">
        <h2 class="title is-warning">
            Spare Parts
        </h2>
        <div class="spare-wrapper">

        </div>
    </div>
</section>