 // .hvr-underline-from-left {
 //     display: inline-block;
 //     vertical-align: middle;
 //     -webkit-transform: perspective(1px) translateZ(0);
 //     transform: perspective(1px) translateZ(0);
 //     box-shadow: 0 0 1px rgba(0, 0, 0, 0);
 //     position: relative;
 //     overflow: hidden;

 //     &:before {
 //         content: "";
 //         position: absolute;
 //         z-index: -1;
 //         #{$left}: 0;
 //         #{$right}: 100%;
 //         bottom: 0;
 //         background: $pri;
 //         height: 4px;
 //         transition-property: #{$right};
 //         transition-duration: 0.3s;
 //         transition-timing-function: ease-out;
 //     }

 //     &:hover:before,
 //     &:focus:before,
 //     &:active:before {
 //         #{$right}: 0;
 //     }
 // }

 // [class^="hvr-"] {
 //     margin: .4em;
 //     padding: 1em;
 //     cursor: pointer;
 //     background: #e1e1e1;
 //     text-decoration: none;
 //     color: #666;
 //     -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
 //     -webkit-font-smoothing: antialiased;
 //     -moz-osx-font-smoothing: grayscale;
 // }

 .mainContent {
     padding-bottom: 50px;
     padding-top: 86px;

     @include bp(md) {
         padding-top: 130px;

     }

     @at-root .is-sticky_header .mainContent {
         padding-top: 76px;

         @include bp(md) {
             padding-top: 130px;
         }

     }
 }

 .title {
     position: relative;
     font-size: 35px;
     margin-bottom: 35px;
     color: rgb(51, 62, 72);
     padding-bottom: 20px;
     text-align: center;

     &::before {
         content: "";
         display: block;
         position: absolute;
         top: 100%;
         width: 300px;
         height: 6px;
         background-color: rgb(149, 201, 61);
         #{$left}: 50%;
         transform: translateX(-50%);

     }

     &.title-left {
         text-align: $left;

         &::before {
             #{$left}: 0;
             transform: translateX(0);
         }
     }

     &.is-primary::before {
         background-color: $primary;
     }

     &.is-secondary::before {
         background-color: $secondary;
     }

     &.is-tertiary::before {
         background-color: $tertiary;
     }

     &.is-warning::before {
         background-color: $warning;
     }

     &.is-info::before {
         background-color: $info;
     }

 }

 .desc {
     color: #999;
     margin-bottom: 40px;
     text-align: center;
 }