<section class="counter_section" style="background-image: url('assets/images/home/counter-bg.png');">
    <div class="counter_section_inner  pt80 pb80">
        <div class="container">
            <div class="row">
                <div class="col-12 col-sm-3">
                    <!--counter box-->
                    <div class="counter_box text-center fadeInDown  wow animated" data-wow-delay=".1s"
                        style="visibility: visible; animation-delay: 0.1s; animation-name: fadeInDown;">
                        <div class="counter_icon">
                            <img src="assets/images/home_counter/002-increase.svg" class="image" alt="">
                        </div>
                        <div class="counter_number counter">
                            <span class="counter_number_digits counter-done" data-counter="30">30</span>
                            +</div>
                        <h4 class="counter_name"> Experience </h4>
                    </div>
                    <!--counter box end-->
                </div>
                <div class="col-12 col-sm-3">
                    <!--counter box-->
                    <div class="counter_box text-center fadeInDown  wow animated" data-wow-delay=".2s"
                        style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInDown;">
                        <div class="counter_icon">
                            <img src="assets/images/home_counter/006-engineering.svg" class="image" alt="">
                        </div>
                        <div class="counter_number counter">
                            <span class="counter_number_digits counter-done" data-counter="30">200,000</span>
                        </div>
                        <h4 class="counter_name"> Active units </h4>
                    </div>
                    <!--counter box end-->
                </div>
                <div class="col-12 col-sm-3">
                    <!--counter box-->
                    <div class="counter_box text-center fadeInDown  wow animated" data-wow-delay=".4s"
                        style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInDown;">
                        <div class="counter_icon">
                            <img src="assets/images/home_counter/001-satisfied.svg" class="image" alt="">
                        </div>
                        <div class="counter_number counter">
                            <span class="counter_number_digits counter-done" data-counter="30">1000</span>
                            +</div>
                        <h4 class="counter_name"> Satisfied Customers </h4>
                    </div>
                    <!--counter box end-->
                </div>
                <div class="col-12 col-sm-3">
                    <!--counter box-->
                    <div class="counter_box text-center fadeInDown  wow animated" data-wow-delay=".6s"
                        style="visibility: visible; animation-delay: 0.6s; animation-name: fadeInDown;">
                        <div class="counter_icon">
                            <img src="assets/images/home_counter/003-tasks.svg" class="image" alt="">
                        </div>
                        <div class="counter_number counter">
                            <span class="counter_number_digits counter-done" data-counter="30">700</span>
                        </div>
                        <h4 class="counter_name"> Positive Feedbacks</h4>
                    </div>
                    <!--counter box end-->
                </div>
            </div>
        </div>
    </div>
</section>