<section class="l-ourproducts">
    <div class="container">
        <h2 class="title is-warning">
            Our Products
        </h2>
        <div class="product-wrapper">

            <div class="row">
                <div class="col-12 col-md-4">
                    <a href="Vending.html" class="product bg-warning">
                        <img src="assets/images/home/Vending.svg" alt="" class="product-cover">
                        <h3 class="product-title">
                            Vending
                        </h3>
                    </a>
                </div>
                <div class="col-12 col-md-4">
                    <a href="Products.html" class="product  bg-tertiary">
                        <img src="assets/images/home/Coffee.svg" alt="" class="product-cover">
                        <h3 class="product-title">
                            Coffee
                        </h3>
                    </a>
                </div>
                <div class="col-12 col-md-4">
                    <a href="Machines.html" class="product   bg-success">
                        <img src="assets/images/home/Tabletops.svg" alt="" class="product-cover">
                        <h3 class="product-title">
                            Tabletops
                        </h3>
                    </a>
                </div>
            </div>

        </div>

    </div>
</section>