<section class="l-ourservices">
    <div class="container">
        <h2 class="title is-warning wow animate__slideInDown">
            Our Services
        </h2>
        <div class="service-wrapper">

            <div class="row">  
                <div class="col-6 col-md-4">
                    <div class="service wow animate__zoomInDown">
                        <img src="assets/images/home/supply.svg" alt="" class="service-cover">
                        <h6 class="service-title">
                            Supply
                        </h6>
                    </div>
                </div>
                <div class="col-6 col-md-4">
                    <div class="service wow animate__zoomInDown">
                        <img src="assets/images/home/delivery.svg" alt="" class="service-cover">
                        <h6 class="service-title">
                            Operation
                        </h6>
                    </div>
                </div>
                <div class="col-6 col-md-4">
                    <div class="service wow animate__zoomInDown">
                        <img src="assets/images/home/installation.svg" alt="" class="service-cover">
                        <h6 class="service-title">
                            Installation
                        </h6>
                    </div>
                </div>
                <div class="col-6 col-md-4">
                    <div class="service wow animate__zoomInDown">
                        <img src="assets/images/home/spare-parts.svg" alt="" class="service-cover">
                        <h6 class="service-title">
                            Spare Parts
                        </h6>
                    </div>
                </div>
                <div class="col-6 col-md-4">
                    <div class="service wow animate__zoomInDown">
                        <img src="assets/images/home/lease.svg" alt="" class="service-cover">
                        <h6 class="service-title">
                            Lease
                        </h6>
                    </div>
                </div>
                <div class="col-6 col-md-4">
                    <div class="service wow animate__zoomInDown">
                        <img src="assets/images/home/maintenance.svg" alt="" class="service-cover">
                        <h6 class="service-title">
                            Maintenance
                        </h6>
                    </div>
                </div>
                
            </div>

        </div>

    </div>
</section>