<section class="l-benefits">
    <div class="container">
        <div class="benefits-wrapper">
            <div class="row">

                <!-- Benefits Easy -->
                <div class="col-6 col-md-3">
                    <div class="benefits">
                        <img src="assets/images/machines/svg/Easy.svg" alt="" class="benefits-cover">
                        <h4 class="benefits-title">Easy</h4>
                        <p class="benefits-desc">to use very user friendly</p>
                    </div>
                </div>

                <!-- Benefits Affordable -->
                <div class="col-6 col-md-3">
                    <div class="benefits">
                        <img src="assets/images/machines/svg/Affordable.svg" alt="" class="benefits-cover">
                        <h4 class="benefits-title">Affordable</h4>
                        <p class="benefits-desc">yet they come in a very high quality</p>
                    </div>
                </div>

                <!-- Benefits Easy -->
                <div class="col-6 col-md-3">
                    <div class="benefits">
                        <img src="assets/images/machines/svg/Quick.svg" alt="" class="benefits-cover">
                        <h4 class="benefits-title">Quick </h4>
                        <p class="benefits-desc">your cup of coffee is only seconds away!</p>
                    </div>
                </div>

                <!-- Benefits Easy -->
                <div class="col-6 col-md-3">
                    <div class="benefits">
                        <img src="assets/images/machines/svg/Convenient.svg" alt="" class="benefits-cover">
                        <h4 class="benefits-title">Convenient </h4>
                        <p class="benefits-desc">and always there for you!</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>