<section class="l-features">
    <div class="container">
        <div class="features-wrapper">
            <div class="row">

                <!-- Features Easy -->
                <div class="col-6 col-md-3">
                    <div class="features">
                        <img src="assets/images/machines/svg/Easy.svg" alt="" class="features-cover">
                        <h4 class="features-title">Easy</h4>
                        <p class="features-desc">to use very user friendly</p>
                    </div>
                </div>

                <!-- Features Affordable -->
                <div class="col-6 col-md-3">
                    <div class="features">
                        <img src="assets/images/machines/svg/Affordable.svg" alt="" class="features-cover">
                        <h4 class="features-title">Affordable</h4>
                        <p class="features-desc">yet they come in a very high quality</p>
                    </div>
                </div>

                <!-- Features Easy -->
                <div class="col-6 col-md-3">
                    <div class="features">
                        <img src="assets/images/machines/svg/Quick.svg" alt="" class="features-cover">
                        <h4 class="features-title">Quick </h4>
                        <p class="features-desc">your cup of coffee is only seconds away!</p>
                    </div>
                </div>

                <!-- Features Easy -->
                <div class="col-6 col-md-3">
                    <div class="features">
                        <img src="assets/images/machines/svg/Convenient.svg" alt="" class="features-cover">
                        <h4 class="features-title">Convenient </h4>
                        <p class="features-desc">and always there for you!</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>