<section class="l-machines">
    <div class="container">
        <h2 class="title is-warning">
            Table Tops
        </h2>
        <p class="text-center">
            Our tabletops are
        </p>

        {# Machine One #}
        <div class="machines-wrapper">
            <div class="row">             
                <div class="col-12 col-md-4">
                    <div class="machines">
                        <img class="machines-cover" src="assets/images/machines/vm-1@2x.webp"/>
                    </div>
                </div>
                <div class="col-12 col-md-8 machines-details machines-one">
                    <h4 class="machines-title">Coffee Expert Point</h4>
                    <p class="machines-desc">The Coffee Expert with its stunning design, decorative lights, expert performance, and splendid black exterior has proven to be the ideal choice for a much-needed coffee break.</p>
                    <div class="row">
                        <div class="col-6 col-md-3">
                            <img src="assets/images/machines/svg/capacitive-keypad.svg" alt="">
                            <span>Capacitive Keypad</span>
                        </div>
                        <div class="col-6 col-md-3">
                            <img src="assets/images/machines/svg/customized-recipes.svg" alt="">
                            <span>Customized Recipes</span>
                        </div>
                        <div class="col-6 col-md-3">
                            <img src="assets/images/machines/svg/stay-connected.svg" alt="">
                            <span>Stay Connected</span>
                        </div>
                        <div class="col-6 col-md-3">
                            <img src="assets/images/machines/svg/cup-support.svg" alt="">
                            <span>Cup Support</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {# Machine Two #}
        <div class="machines-wrapper">
            <div class="row">             
                <div class="col-12 col-md-4">
                    <div class="machines">
                        <img class="machines-cover" src="assets/images/machines/vm-2@2x.webp"/>
                    </div>
                </div>
                <div class="col-12 col-md-8 machines-details machines-two">
                    <h4 class="machines-title">Espresso Milano</h4>
                    <p class="machines-desc">The modern Espresso Milano is a perfect answer for your coffee cravings. With 12 direct selection options, the coffee machine is boasting an attractive design with stainless steel front.</p>
                    <div class="row">
                        <div class="col-6 col-md-4">
                            <img src="assets/images/machines/svg/Boiler.svg" alt="">
                            <span>Boiler Bracket</span>
                        </div>
                        <div class="col-6 col-md-4">
                            <img src="assets/images/machines/svg/Protocols.svg" alt="">
                            <span>Protocols Management</span>
                        </div>
                        <div class="col-6 col-md-4">
                            <img src="assets/images/machines/svg/Extractable.svg" alt="">
                            <span>Extractable Coffee Unit</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {# Machine Three #}
        <div class="machines-wrapper">
            <div class="row">             
                <div class="col-12 col-md-4">
                    <div class="machines">
                        <img class="machines-cover" src="assets/images/machines/vm-3@2x.webp"/>
                    </div>
                </div>
                <div class="col-12 col-md-8 machines-details machines-three">
                    <h4 class="machines-title">Auto Coffee</h4>
                    <p class="machines-desc">An innovative solution for your office or enterprise. This perfect kitchen gadget has the capability of brewing 8 different beverages. This fully automated coffee bliss is providing ease of use and maintenance due to its meticulously planned components.</p>
                    <div class="row">
                        <div class="col-6 col-md-4">
                            <img src="assets/images/machines/svg/Interface.svg" alt="">
                            <span>User Interface</span>
                        </div>
                        <div class="col-6 col-md-4">
                            <img src="assets/images/machines/svg/Energy.svg" alt="">
                            <span>Energy Saving Mode</span>
                        </div>
                        <div class="col-6 col-md-4">
                            <img src="assets/images/machines/svg/easy-maintenance.svg" alt="">
                            <span>Easy Maintenance</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
            
            {# Machine Four #}
        <div class="machines-wrapper">
            <div class="row">             
                <div class="col-12 col-md-4">
                    <div class="machines">
                        <img class="machines-cover" src="assets/images/machines/vm-4@2x.webp"/>
                    </div>
                </div>
                <div class="col-12 col-md-8 machines-details machines-four">
                    <h4 class="machines-title">Hot Beverage Point</h4>
                    <p class="machines-desc">With the capability of producing 200 cups a day, Hot Beverage Point, serves a range of homely hot beverages to cater to varying taste pallets. Enjoy a wide variety of superior quality milk based hot drinks including coffee, and hot chocolate with optimal management for a refreshing break.</p>
                    <div class="row">
                        <div class="col-6 col-md-3">
                            <img src="assets/images/machines/svg/np_keypad_2139620_000000.svg" alt="">
                            <span>Touchscreen Interface</span>
                        </div>
                        <div class="col-6 col-md-3">
                            <img src="assets/images/machines/svg/np_menu_303333_000000.svg" alt="">
                            <span>Large Drinks Menu</span>
                        </div>
                        <div class="col-6 col-md-3">
                            <img src="assets/images/machines/svg/np_hot_1550332_000000.svg" alt="">
                            <span>Hot Frothed Milk</span>
                        </div>
                        <div class="col-6 col-md-3" style="padding:0 10px">
                            <img src="assets/images/machines/svg/Group 1058.svg" alt="">
                            <span>Turbo-Steam Cold Touch</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {# Machine Five #}
        <div class="machines-wrapper">
            <div class="row">             
                <div class="col-12 col-md-4">
                    <div class="machines">
                        <img class="machines-cover" src="assets/images/machines/vm-5@2x.webp"/>
                    </div>
                </div>
                <div class="col-12 col-md-8 machines-details machines-five">
                    <h4 class="machines-title">The Coffee Complement</h4>
                    <p class="machines-desc">Perfect fit for hotels, communities, self-service locations and by providing breakfast solutions. The modern and elegant design is enriched by LED lights, chromium-plated push-buttons and frame surrounding the selection area and elegant side graphic panels.</p>
                    <div class="row">
                        <div class="col-6 col-md-4">
                            <img src="assets/images/machines/svg/np_innovation_2053556_000000.svg" alt="">
                            <span>Technical innovations</span>
                        </div>
                        <div class="col-6 col-md-4">
                            <img src="assets/images/machines/svg/np_design_971910_000000.svg" alt="">
                            <span>Attractive design</span>
                        </div>
                        <div class="col-6 col-md-4">
                            <img src="assets/images/machines/svg/np_wifi_1715083_000000.svg" alt="">
                            <span>Stay Connected</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>