<footer class="footer">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-4 col-12">
				
				<div class="row">

				<div class="col-12 col-md-6">
					<ul class="footer-links nav flex-column">
									<li class="nav-item">
										<a class="nav-link" href="#">About Us</a>
									</li>
									<li class="nav-item">
										<a class="nav-link" href="#">Vending Machines</a>
									</li> 
									<li class="nav-item">
										<a class="nav-link" href="#">Coffee Products</a>
									</li>
								</ul> 
								
				</div>

				<div class="col-12 col-md-6">
				<ul class="footer-links nav flex-column">
									<li class="nav-item">
										<a class="nav-link" href="#">About Us</a>
									</li>
									<li class="nav-item">
										<a class="nav-link" href="#">Vending Machines</a>
									</li> 
									<li class="nav-item">
										<a class="nav-link" href="#">Coffee Products</a>
									</li>
								</ul> 
				</div>
				</div>

			</div>
			<div class="footer-contactus col-md-4 col-sm-12">
				<img src="assets/images/icons/footer-callus.svg" class="footer-callIcon">
				<a href="tel:920029818" class="number">
                        +920029818
                  </a>
				<ul class="footer-social-list list-unstyled m-0">
					<li class="footer-social-item">
						<a href="#" class="footer-social-link">
							<i class="fa fa-instagram"></i>
						</a>
					</li>
					<li class="footer-social-item">
						<a href="#" class="footer-social-link">
							<i class="fa fa-google"></i>
						</a>
					</li>
					<li class="footer-social-item">
						<a href="#" class="footer-social-link">
							<i class="fa fa-twitter"></i>
						</a>
					</li>
					<li class="footer-social-item">
						<a href="#" class="footer-social-link">
							<i class="fa fa-facebook"></i>
						</a>
					</li>
				</ul>
			</div>
			<div class=" col-md-4 col-sm-12 text-right">
				 <a class="navbar-brand footer-logo" href="/">
					<img src="assets/images/Footer_Logo.svg" alt="" class="image">
				</a>
			</div>
		</div> 
			<p class="footer-copyright"> Copyright © 2019 by Danyah</p>
		 
	</div>

</footer>