<footer class="footer">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-4 col-12">

				<div class="row">

					<div class="col-12 col-md-6">
						<ul class="footer-links nav flex-column">
							<li class="nav-item">
								<a class="nav-link" href="#">About Us</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="#">Vending Machines</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="#">Coffee Products</a>
							</li>
						</ul>

					</div>

					<div class="col-12 col-md-6">
						<ul class="footer-links nav flex-column">
							<li class="nav-item">
								<a class="nav-link" href="#">About Us</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="#">Vending Machines</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="#">Coffee Products</a>
							</li>
						</ul>
					</div>
				</div>

			</div>
			<div class="col-md-4 col-sm-12">

			</div>
			<div class=" col-md-4 col-sm-12 text-right">
				<div class="footer-contactus">
					<img src="assets/images/icons/footer-callus.svg" class="footer-callIcon" alt="">
					<a href="tel:920029818" class="number">
						+920029818
					</a>
				</div>
<!-- ## START ## Footer Socail ##  -->
				<ul class="footer-social">
					<li class="footer-social-item">
						<a href="https://twitter.com/danyahksa" class="footer-social-link">
							<img src="assets/images/social/twitter.svg" alt="" class="image">
						</a>
					</li>
					<li class="footer-social-item">
						<a href="https://facebook.com/danyahksa" class="footer-social-link">
							<img src="assets/images/social/facebook.svg" alt="" class="image">
						</a>
					</li>
					<li class="footer-social-item">
						<a href="https://www.youtube.com/channel/UCeXnxv2eLcdewgF8dFOPZwQ/featured"
							class="footer-social-link">
							<img src="assets/images/social/youtube.svg" alt="" class="image">
						</a>
					</li>
				</ul>
<!-- ## END ## Footer Socail ##  -->
				<a class="navbar-brand footer-logo" href="/">
					<img src="assets/images/Footer_Logo.svg" alt="" class="image">
				</a>
			</div>
		</div>
		<p class="footer-copyright"> Copyright © 2019 by Danyah</p>

	</div>

</footer>