<footer class="footer">
	<div class="container footer-container">
		<div class="row">
			<div class="footer-links col-md-7 col-sm-12">
				<a href="#" class="footer-logo">
					<img src="/node_modules/ds-moc/images/logo.svg" alt="">
				</a>
				<div class="footer-info">
					<p class="mb-0"> <span>2021</span> جميع الحقوق محفوظة لوزارة الثقافة  </p>
					<ul class="footer-links-list list-unstyled m-0">
						<li class="footer-links-item">
							<a href="#" class="footer-links-link">
								الرئيسية
							</a>
						</li>
						<li class="footer-links-item">
							<a href="#" class="footer-links-link">
								الشروط والاحكام
							</a>
						</li>
						<li class="footer-links-item">
							<a href="#" class="footer-links-link">
								اتصل بنا
							</a>
						</li>
					</ul>
				</div>
			</div>
			<div class="footer-social col-md-5 col-sm-12">
				<p class="contact-info">يمكنك متابعتنا عبر قنوات التواصل </p>
				<ul class="footer-social-list list-unstyled m-0">
					<li class="footer-social-item">
						<a href="#" class="footer-social-link">
							<i class="fa fa-instagram"></i>
						</a>
					</li>
					<li class="footer-social-item">
						<a href="#" class="footer-social-link">
							<i class="fa fa-google"></i>
						</a>
					</li>
					<li class="footer-social-item">
						<a href="#" class="footer-social-link">
							<i class="fa fa-twitter"></i>
						</a>
					</li>
					<li class="footer-social-item">
						<a href="#" class="footer-social-link">
							<i class="fa fa-facebook"></i>
						</a>
					</li>
				</ul>
			</div>
		</div>
		
	</div>

</footer>