<header class="header">
	<div class="container">
		<nav class="header-nav">
			<a href="#" class="header-logo">
				<img src="/node_modules/ds-moc/images/logo.svg" alt="">
			</a>
			<ul class="header-menu list-unstyled m-0">
				<li class="header-item"><a href="" class="header-link">الرئسية</a></li>
				<li class="header-item"><a href="" class="header-link">تعرف على التراخيص</a></li>
				<li class="header-item"><a href="" class="header-link">اتصل بنا</a></li>
			</ul>
			<button class="btn header-btn">الدخول للمنصة</button>
		</nav>
	</div>

</header>