<header class="header">
	<div class="container-fluid">

		<nav class="navbar navbar-expand-lg">
			<button class="header-toggler navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01"
				aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
				 <img src="assets/images/icons/header-menu.svg" alt="" class="image">
			</button>

			<div class="header-menu collapse navbar-collapse " id="navbarTogglerDemo01">

				<ul class="navbar-nav mr-auto mt-2 mt-lg-0">
					<li class="nav-item active">
						<a class="nav-link hvr-underline-from-left" href="Home.html">Home <span
								class="sr-only">(current)</span></a>
					</li>
					<li class="nav-item">
						<a class="nav-link hvr-underline-from-left" href="Aboutus.html">About Us</a>
					</li>
					<li class="nav-item dropdown">
						<a class="nav-link hvr-underline-from-left dropdown-toggle" href="Vending.html" role="button"
							id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							Vending Machines
						</a>

						<div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
							<a class="dropdown-item" href="Vending.html#Why">Why Vending Machines</a>
							<a class="dropdown-item" href="Vending.html#MachineTypes">Vending Machine Types</a>
							<a class="dropdown-item" href="Vending.html#Features">Additional Features</a>
							<a class="dropdown-item" href="Vending.html#AfterSales">After Sales Services</a>
						</div>
					</li>
					<li class="nav-item">
						<a class="nav-link hvr-underline-from-left" href="Machines.html">TableTops</a>
					</li>
					<li class="nav-item dropdown">
						<a class="nav-link hvr-underline-from-left dropdown-toggle" href="Products.html" role="button"
							id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							Coffee Products
						</a>

						<div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
							<a class="dropdown-item" href="Products.html">Coffee Beans</a>
							<a class="dropdown-item" href="Products.html#CoffeeCapsules">Coffee Capsules</a>
						</div>
					</li>
					<li class="nav-item">
						<a class="nav-link hvr-underline-from-left" href="Spare.html">Spare Parts</a>
					</li>
					<li class="nav-item ">
						<a class="btn btn-outline-info nav-link px-3" href="Contact.html">Contact Us</a>
					</li>
					<li class="nav-item">
						<a class="nav-link hvr-underline-from-left" href="#">العربية</a>
					</li>
				</ul>
			</div>

			<div class="my-2 my-lg-0">
				<a class="navbar-brand header-logo" href="/">
					<img src="assets/images/logo.png" alt="" class="image">
				</a>
			</div>
		</nav>
	</div>

</header>