.l-spare {
    margin-top: 50px;
    margin-bottom: 100px;
    h2 {
        font-size: 35px;
        font-weight: bold;
    }
}

.spare {
    padding: 10px 40px ;
    @media only screen and (max-width: 768px) {
        padding: 10px  !important;
    }

    &-wrapper {
        text-align: center;
        .first {
            width: 50% !important;
            margin: 0 auto;
            @media only screen and (max-width: 768px) {
                width: 100% !important;
            }
        }
    }

    &-cover {  
        width: 40px;
        height: 40px;
    }

    &-title {
        font-size: 22px;
        font-weight: bold;
        padding: 15px 10px;
    }
    &-desc {
        font-size: 18px;
        color: $txt3;
        font-weight: lighter;
        padding: 5px 60px 20px;
        @media only screen and (max-width: 768px) {
            padding: 5px 20px !important;
        }
    }
}
 