.l-spare {
    margin-top: 50px;
    margin-bottom: 100px;
    h2 {
        font-size: 35px;
        font-weight: bold;
    }
}

.spare {

    &-wrapper {

    }

    &-cover {  

    }

    &-title {

    }
    &-desc {
    
    }
}
 