<section class="l-coffeebeans">
    <div class="container">
        <h2 class="title is-warning wow animate__bounceIn">
            Coffee Beans
        </h2>
        <p class="text-center">
            We offer you a variety of ground coffee products
        </p>
        <div class="coffeebeans-wrapper wow animate__fadeIn">
            
            <div class="row">
                <div class="col-12 col-md-4">
                    <a href="Products.html" class="coffeebeans">
                        <img src="assets/images/products/mesta.webp" alt="" class="coffeebeans-cover">
                        <h3 class="coffeebeans-title">
                            Espresso Bar
                        </h3>
                        <p class="text-center">A blend dedicated to those who love creamy coffee with an intense taste, as in the best Italian tradition. A ground coffee with sensual body and aroma, thanks to the fine, dark-roasted Asian and African Robusta.</p>
                    </a>
                </div>

                <div class="col-12 col-md-4">
                    <a href="Products.html" class="coffeebeans">
                        <div class="line">
                            <img src="assets/images/products/supremo.webp" alt="" class="coffeebeans-cover">
                        </div>
                        <h3 class="coffeebeans-title">
                            Supremo
                        </h3>
                        <p class="text-center">A tasteful blend of 100% Arabica beans, especially fragrant and aromatic, which gives this coffee the typical fruity and flowery aroma, while a refined roasting process exalts its delicate taste.</p>
                    </a>
                </div>
                
                <div class="col-12 col-md-4">
                    <a href="Products.html" class="coffeebeans">
                        <img src="assets/images/products/orobar.webp" alt="" class="coffeebeans-cover">
                        <h3 class="coffeebeans-title">
                            Oro Bar
                        </h3>
                        <p class="text-center">A coffee in harmony with typical Italian taste, made with a skillful blend of Arabica from Brazilian mountains and Robusta from India, Africa and Far East. The result is a roundly smooth- tasting coffee, perfectly combining body and aroma.</p>
                    </a>
                </div>

                <div class="col-12 col-md-6">
                    <a href="Products.html" class="coffeebeans">  
                        <div class="line-left">              
                            <img src="assets/images/products/crema.webp" alt="" class="coffeebeans-cover">
                        </div>
                        <h3 class="coffeebeans-title">
                            Crema D’oro
                        </h3>
                        <p class="text-center">An extraordinarily balanced blend: Brazilian Arabica beans endow it a sweet taste while selected Robusta beans reinforce its fulsome body. Finally, an exceptional roasting process conjures up a sensational blend.</p>
                    </a>
                </div>

                <div class="col-12 col-md-6">
                    <a href="Products.html" class="coffeebeans">
                        <div class="line-right">
                            <img src="assets/images/products/biofair.webp" alt="" class="coffeebeans-cover">
                        </div>
                        <h3 class="coffeebeans-title">
                            Biofair
                        </h3>
                        <p class="text-center">This blend is made according to the rules issued by Fairtrade. The careful selection of the finest Arabica from Central America organic crops gives this coffee an unmistakable taste.</p>
                    </a>
                </div>
                
            </div>

        </div>

    </div>
</section>