<section class="l-coffeecapsules">
    <div class="container">
        <h2 class="title is-success">
            Coffee Capsules
        </h2>
        <p class="text-center">
            We offer a wide range of capsules; suitable to our Capsules vending machines and also Nespresso and Lavazza compatible! Our variety of capsules are as follow
        </p>
        <div class="coffeecapsules-wrapper">

            <div class="row">
                <div class="col-6 col-md-3">
                    <a href="Products.html" class="coffeecapsules">
                        <img src="assets/images/products/intenso.webp" alt="" class="coffeecapsules-cover">
                        <h3 class="coffeecapsules-title">
                           Intenso 
                        </h3>
                        <p class="text-center">A blend for coffee lovers with a taste for intense espresso that bestows a long, full aftertaste on the palate .</p>
                    </a>
                </div>

                <div class="col-6 col-md-3">
                    <a href="Products.html" class="coffeecapsules">
                        <img src="assets/images/products/supremocaps.webp" alt="" class="coffeecapsules-cover">
                        <h3 class="coffeecapsules-title">
                           Supremo  
                        </h3>
                        <p class="text-center">The classic taste of the very best Arabica coffee, capsule-blended for a supreme espresso experience .</p>
                    </a>
                </div>

                <div class="col-6 col-md-3">
                    <a href="Products.html" class="coffeecapsules">
                        <img src="assets/images/products/classico.webp" alt="" class="coffeecapsules-cover">
                        <h3 class="coffeecapsules-title">
                           Classico  
                        </h3>
                        <p class="text-center">Made from a rich mix of Brazilian Arabica and Robusta from India, Africa and Far East, a true round- tasting blend!</p>
                    </a>
                </div>

                <div class="col-6 col-md-3">
                    <a href="Products.html" class="coffeecapsules">
                        <img src="assets/images/products/biofaircaps.webp" alt="" class="coffeecapsules-cover">
                        <h3 class="coffeecapsules-title">
                           Biofair  
                        </h3>
                        <p class="text-center">A bend of 100% Arabica beans from Prue,Mexico and Bolivia. This blends makes an aromatic featuring an incredibly natural fragrance.</p>
                    </a>
                </div>
        
            </div>

        </div>

    </div>
</section>