<section class="l-top-pattern">
    <div class="article">
        <h1 class="article-title">
        At Danyah, we offer our valued partners a wide range of top of the line and affordable
        tabletops.
        </h1>
        <p class="article-desc">

        Our Italian made machines will suit your needs and create the perfect and
          productive environment that you deserve!
        </p>

    </div>

</section>