<section class="hero">
	<div class="container">
		<div class="row">
			<div class="col-12 col-md-6">
				<div class="hero-details">
					<h2 class="dsTitle2 ">
						منصة الخدمات الإلكترونية
					</h2>
					<p class="hero-desc">
						هو ماراثون افتراضي لمركز الأفكار الثقافية في وزارة الثقافة والذي يخدم قطاع الفعاليات في المملكة العربية السعودية. وهو حدث يدوم لمدة أسبوع يتم فيه تقديم الدعم والتدريب بأسلوب التفكير التصميمي؛ بهدف الخروج بأفكار إبداعية في الفعاليات والمهرجانات الثقافية، تشمل أحد عشر مجالاً ثقافياً ضمن المجالات الثقافية الستة عشر في جميع مناطق المملكة
					</p>

					<button type="button" class="btn btn-primary">احصل على رخصتك الآن
					</button>
				</div>
			</div>
			<div class="col-12 col-md-6">
				<img src="assets/images/license_platform/hero-bg.svg" class="hero-cover" alt="">
			</div>
		</div>
	</div>
</section>
