<section class="speech">
	<div class="container-fluid">
		<div class="row">
			<div class="col-12 col-md-4">
				<div class="speech-cover">
					<div class="speech-princeImage">
						<img src="assets/images/license_platform/Prince_English.svg" class="image show-isEnglish" alt="">
						<img src="assets/images/license_platform/Prince_Arabic.svg" class="image show-isArabic" alt="">
					</div> 
				</div>
			</div>
			<div class="col-12 col-md-8">
				<div class="speech-details">
					<h2 class="dsTitle2 text-danger">
						كلمة سمو وزير الثقافة
					</h2>
					<p class="">
						بدر بن عبد الله بن محمد بن فرحان آل سعود
					</p>
					<p class="speech-label">
						وزير الثقافة
					</p>
					<p class="speech-desc">
						تعد الثقافة جزءاً أساسياً من التحول الوطني الطموح الذي تسير عليه بلادنا بقيادة خادم الحرمين الشريفين الملك سلمان بن عبدالعزيز آل سعود وولي العهد الأمين صاحب السمو الملكي الأمير محمد بن سلمان بن عبدالعزيز آل سعود "حفظهما الله". وتنص رؤية المملكة 2030 على أن الثقافة "من مقوّمات جودة الحياة"، كما تشدد على أن المملكة بحاجة إلى زيادة نشاطها الثقافي، ومهمتنا في الوزارة تتمثل في البناء على هذا العمل والمساهمة في تحقيق أهداف رؤية المملكة 2030. تقف الثقافة السعودية على أرض صلبة، فلدينا مبدعون سعوديون في شتى المجالات. نقف اليوم على أرض غنية بالصناعة الإبداعية في الحقول الثقافية المتنوعة، وطاقات بشرية مبشرة تجاوز إبداعها حدود بلادنا ليصل إلى العالم. سنعمل في الوزارة بنهج تشاركي مع المبدع السعودي، رأسمال الثقافة، وسنذهب بعيداً لخلق بيئة تدعم الإبداع وتساهم في نموه، وسنفتح نوافذ جديدة للطاقة الإبداعية عند السعوديين، وستظل الثقافة السعودية نخلة سامقة في عالمنا. لدينا تراث غني وتقاليد عريقة ومتنوعة تنتمي لـ 13 منطقة، لدينا مبدعون من مجالات متنوعة فاز العديد منهم بجوائز عالمية، وتمت استضافة أعمالهم في محافل دولية مختلفة
					</p>
 
				</div>
			</div>
		</div>
	</div>
</section>
