{% extends "../layouts/layout.twig" %} 


{% import "../common/article.twig" as article %}
{% block page %} 
	{{article.base("","<span>Danyah</span>  is a Saudi Brand that was established as a
					result of our deep belief that technology should be utilized for an easier form of life.")}}
{% endblock %}
