{% extends "../layouts/layout.twig" %}
{% block page %}
<div class="l-contact">
  <div class="container-fluid mb-5">
    <!-- Content  - ## START ##-->

    <div class="row">
      <div class="col-12 col-md-6">
        <h2 class="title is-success title-left">
          Coffee Capsules
        </h2>
        <p class="contactus-desc">
          Let's cut the distance today.

        </p> 
        <div class="contactus-body">
          <form>
            <div class="form-row">
              <div class="col-md-6 mb-3">
                <label for="validationServer01">الإسم</label>
                <input type="text" class="form-control" id="validationServer01" value="Mark" required="">
                <div class="valid-feedback">
                  Looks good!
                </div>
              </div>
              <div class="col-md-6 mb-3">
                <label for="validationServer02">Last name</label>
                <input type="text" class="form-control is-valid" id="validationServer02" value="Otto" required="">
                <div class="valid-feedback">
                  Looks good!
                </div>
              </div>
            </div>
            <div class="form-row">
              <div class="col-md-6 mb-3">
                <label for="validationServer03">City</label>
                <input type="text" class="form-control is-invalid" id="validationServer03"
                  aria-describedby="validationServer03Feedback" required="">
                <div id="validationServer03Feedback" class="invalid-feedback">
                  Please provide a valid city.
                </div>
              </div>
              <div class="col-md-3 mb-3">
                <label for="validationServer04">State</label>
                <select class="custom-select is-invalid" id="validationServer04"
                  aria-describedby="validationServer04Feedback" required="">
                  <option selected="" disabled="" value="">Choose...</option>
                  <option>...</option>
                </select>
                <div id="validationServer04Feedback" class="invalid-feedback">
                  Please select a valid state.
                </div>
              </div>
              <div class="col-md-3 mb-3">
                <label for="validationServerTel">Phone</label> 
                <input type="tel" class="form-control " id="validationServerTel"   required="" maxlength="10" >
               
              </div>
              <div class="col-md-3 mb-3">
                <label for="validationServer05">Zip</label>
                <input type="text" class="form-control is-invalid" id="validationServer05"
                  aria-describedby="validationServer05Feedback" required="">
                <div id="validationServer05Feedback" class="invalid-feedback">
                  Please provide a valid zip.
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="form-check">
                <input class="form-check-input is-invalid" type="checkbox" value="" id="invalidCheck3"
                  aria-describedby="invalidCheck3Feedback" required="">
                <label class="form-check-label" for="invalidCheck3">
                  Agree to terms and conditions
                </label>
                <div id="invalidCheck3Feedback" class="invalid-feedback">
                  You must agree before submitting.
                </div>
              </div>
            </div>
            <button class="btn btn-primary" type="submit">Submit form</button>
          </form>
        </div>
      </div>
    </div>
    <!-- Content  - ## END ##-->


  </div>

</div>
{% include '../modules/contactus/map.twig' %}

{% endblock %}

{% block beforeEndBody %} 
{# <script src="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.3/js/intlTelInput.min.js"></script> #}
<script> 
   var phone_number =  intlTelInput(document.querySelector("#validationServerTel"), {
      // allowDropdown: false,
      // autoHideDialCode: false,
      // autoPlaceholder: "off",
      // dropdownContainer: document.body,
      // excludeCountries: ["us"],
      // formatOnDisplay: false,
      // geoIpLookup: function(callback) {
      //   $.get("http://ipinfo.io", function() {}, "jsonp").always(function(resp) {
      //     var countryCode = (resp && resp.country) ? resp.country : "";
      //     callback(countryCode);
      //   });
      // },
      // hiddenInput: "full_number",
      // initialCountry: "auto",
      // localizedCountries: { 'de': 'Deutschland' },
      // nationalMode: false,
      // onlyCountries: ['us', 'gb', 'ch', 'ca', 'do'],
      // placeholderNumberType: "MOBILE",
      // preferredCountries: ['cn', 'jp'],
      // separateDialCode: true,
      preferredCountries: ['sa'],
      initialCountry:'sa',
      utilsScript: "assets/js/utils.js",
    });
    console.log("init ", phone_number.getNumber())
    
    </script>
  {% endblock %}