 {% extends "../layouts/layout.twig" %}
{% block bodyAttr %}{% endblock %}
{% block page %}

	<main class="l-home" role="layout"> 
		<!-- Content  - ## START ##-->
		 
		{% include '../modules/hero.twig' %}

		
		{% include '../modules/speech.twig' %}

		 
		<!-- Content  - ## END ##--> 
	</main>
{% endblock %}
