{% extends "../layouts/layout.twig" %} 
{% block page %} 
	<div
		class="container mb-5">
		<!-- Content  - ## START ##-->  
		{% include '../modules/machines/machines.twig' %}
		{% include '../modules/machines/features.twig' %}
		<!-- Content  - ## END ##-->
	</div>

{% endblock %}
