<!DOCTYPE html>
<html>

<head>
	<meta charset='utf-8'>
	<meta http-equiv='X-UA-Compatible' content='IE=edge'>
	<title>MOC - CDS</title>
	<link rel="shortcut icon" href="/node_modules/ds-moc/images/favicon.ico" type="image/x-icon">
	<meta name='viewport' content='width=device-width, initial-scale=1'>
	<!-- <link id="Package" rel='stylesheet' role="dirStyle" type='text/css' media='screen'
		href='/package/css/ltr/style.css'> -->
	<!-- <link id="Portal" rel='stylesheet' role="dirStyle" type='text/css' media='screen' href='assets/css/ltr/portal.css'> -->

	{% include '../modules/Practitioner_license_style.twig' %}
	<!-- Head block -->
</head>

<body style=" margin: 0;font-family: ' Effra', sans-serif; font-size: 1rem; font-weight: 400; line-height: 1.5; color: #0F2837; direction: ltr;
	text-align: left; background-color: #fff; -webkit-print-color-adjust: exact !important; ">

	<main class=" license" role="layout">
		<!-- Content  - ## START ##-->
		<header class="license-header">
			<a href="#" class="navbar-brand">
				<img src="/node_modules/ds-moc/images/logo.svg" alt="" class="img-fluid">
			</a>
			<img src="assets/images/license_platform/Practitioner_license_logo.PNG" alt="">
		</header>


		<h2 class="license-title" style="
		position: relative;
		color: #FFFFFF;
		font-size: 28px;
		font-weight: 500;
		line-height: 33px;
		padding: 8px 80px;
		display: inline-block;
		background-color: #6E1946;
		margin-bottom: 25px;
	">الأداء المسرحي والفني</h2>
		<div class="license-content" style="
		padding: 20px 80px 200px;
		position: relative;
	">
			<h3 class="license-subTitle" style="
			color: #8FB8B3;
			font-size: 22px;
			font-weight: 500;
			line-height: 27px;
			margin-bottom: 20px;
		">الأداء المسرحي والفني</h3>
			<table class="table table-license">
				<tbody>
					<tr>
						<th scope="row">اسم مقدم الطلب
						</th>
						<td>محمد بن عبدالله بن عبدالعزيز بن سلمان بن عبدالعزيز بن سلمان آل عبدالعزيز
						</td>
					</tr>
					<tr>
						<th scope="row">رقم الهوية او رقم الاقامة</th>
						<td>1020111111</td>
					</tr>
				</tbody>
			</table>
			<div class="pl-2">
				<div class="license-separator" style="
				height: 3px;
				width: 41px;
				background-color: #EB5A3C;
				display: block;
				margin-bottom: 15px;
			"></div>
			</div>

			<div class="row">

				<div class="col-6">
					<table class="table table-license">
						<tbody>
							<tr>
								<th scope="row">تاريخ اصدار الرخصة
								</th>
								<td>2020/01/10
								</td>
							</tr>
							<tr>
								<th scope="row">تاريخ انتهاء الرخصة</th>
								<td>2024/01/10</td>
							</tr>
							<tr>
								<th scope="row">نوع الاصدار</th>
								<td>إلكتروني</td>
							</tr>
							<tr>
								<th scope="row">رقم الرخصة</th>
								<td>102011</td>
							</tr>
							<tr>
								<th scope="row">مكان الاقامة</th>
								<td>الممكلة العربية السعودية - مدينة الرياض
								</td>
							</tr>
							<tr>
								<th scope="row">النشاط الرئيسي</th>
								<td>إقامة العروض المسرحية
								</td>
							</tr>
							<tr>
								<th scope="row">النشاط الفرعي</th>
								<td>درما
								</td>
							</tr>
						</tbody>
					</table>
				</div>
				<div class="col-6">
					<table class="table table-license">
						<tbody>
							<tr>
								<th scope="row">تاريخ اصدار الرخصة
								</th>
								<td>2020/01/10
								</td>
							</tr>
							<tr>
								<th scope="row">تاريخ انتهاء الرخصة</th>
								<td>2024/01/10</td>
							</tr>
							<tr>
								<th scope="row">نوع الاصدار</th>
								<td>إلكتروني</td>
							</tr>
							<tr>
								<th scope="row">رقم الرخصة</th>
								<td>102011</td>
							</tr>
							<tr>
								<th scope="row">مكان الاقامة</th>
								<td>الممكلة العربية السعودية - مدينة الرياض
								</td>
							</tr>
							<tr>
								<th scope="row">النشاط الرئيسي</th>
								<td>إقامة العروض المسرحية
								</td>
							</tr>
							<tr>
								<th scope="row">النشاط الفرعي</th>
								<td>درما
								</td>
							</tr>
						</tbody>
					</table>
				</div>

			</div>
			<button onclick="window.print();" type="button" class="no-print" style="
			display: inline-block;
			font-weight: 400;
			text-align: center;
			vertical-align: middle;
			user-select: none;
			font-size: 25px;
			line-height: 1.42;
			border-width: 1px;
			border-style: solid;
			border-image: initial;
			padding: 15px 50px;
			border-radius: 4px;
			transition: color 0.15s ease-in-out 0s, background-color 0.15s ease-in-out 0s, border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
			color: #fff;
			background-color: #6E1946;
			border-color: #6E1946;
		"> Print page </button>

			<img src="assets/images/license_platform/Practitioner_license_qr.PNG" clas="footer-cover"
				style="position: absolute;bottom: 60px;right: 100px;" alt="">
		</div>
		<footer style="position: relative;">
			<img src="assets/images/license_platform/Practitioner_license_footer.PNG" clas="footer-cover"
				style="position: absolute;top: 0;right: 0;" alt="">

			<p style="color: #06151E;
			font-family: Effra;
			font-size: 9px;
			font-weight: 500;
			line-height: 10px;
			padding: 5px 85px;">
				<span style="display: block;">ثـــقــــافــتــــنــــــــــــــــــــــــا </span>
				<span style="display: block;">هـــويـــــتـــــنـــــــــــــــــــــــا </span>
			</p>
		</footer>
		<!-- Content  - ## END ##-->
	</main>
</body>

</html>