.l-coffeecapsules {
    margin-bottom: 100px;
}
 
.coffeecapsules {
    position: relative;
    display: block;
    text-align: center;
    border-radius: 20px;
    @include trans();
    overflow: hidden;

    &-wrapper{
        padding-top: 30px;
    }
    &-cover { 
        height: 175px;
        margin-bottom:20px;
        &:hover{
        transform: scale(1.1); 
        }

    }
    
    &-title { 
        color: $dark;
        font-size: 18px;
        font-weight: 700;
        margin-bottom:15px
    }
    p {
        color:$dark;
        font-size: 12px;
        margin-bottom:20px;
    }

}